* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  color: #222;
  background: linear-gradient(to bottom, #ffffff, #f7f7f7);
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.hero {
  background: linear-gradient(
      rgba(31, 41, 51, 0.9),
      rgba(31, 41, 51, 0.9)
    ),
    radial-gradient(circle at top, #374151, #1f2933);
  color: #fff;
  text-align: center;
  padding: 25px 20px;   /* ⬅ toto je kľúčové – zúženie */
}


.hero h1 {
  font-size: 1.6rem;   /* bolo 2.4rem */
  margin-bottom: 8px;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 12px;
}


.btn {
  display: inline-block;
  background: #f59e0b;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.section {
  padding: 60px 0;
}

.section.light {
  background: #f4f4f4;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
